@model OutsourcerTracking.Models.EmployeeUserModels.EmployeeUserEditViewModel
@{
    ViewData["Title"] = "Çalışan Kullanıcı Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="horizontal-margin-1">
    <h1 class="text-center">@ViewData["Title"]</h1>
    @using (Html.BeginForm("Edit", "EmployeeUser", FormMethod.Post))
    {
        <div class="form-group vertical-padding-1 horizontal-margin-1">
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.FirstName,  new {@class = "form-control", placeholder="Ad"})
                    @Html.ValidationMessageFor(m => m.FirstName, null, new {@class="text-danger"})
                    <br />
                    @Html.TextBoxFor(m => m.LastName,  new {@class = "form-control", placeholder="Soyad"})
                    @Html.ValidationMessageFor(m => m.LastName, null, new {@class="text-danger"})
                    <br />
                    @Html.TextBoxFor(m => m.Email,  new {@class = "form-control", placeholder="Eposta"})
                    @Html.ValidationMessageFor(m => m.Email, null, new {@class="text-danger"})
                    <br />
                    @Html.TextBoxFor(m => m.Phone,  new {@class = "form-control", placeholder="Telefon"})
                    @Html.ValidationMessageFor(m => m.Phone, null, new {@class="text-danger"})
                    <br />
                </div>
                <div class="col-md-6">
                    @Html.Label("Rol")
                    @Html.DropDownListFor(m => m.RoleId, (List<SelectListItem>)ViewBag.roles, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.RoleId, null, new {@class="text-danger"})
                    <br />
                    @Html.Label("Bölüm")
                    @Html.DropDownListFor(m => m.DeparmentId, (List<SelectListItem>)ViewBag.departments, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.DeparmentId, null, new {@class="text-danger"})
                    <br />
                    @Html.Label("Ünvan")
                    @Html.DropDownListFor(m => m.TitleId, (List<SelectListItem>)ViewBag.titles, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.TitleId, null, new {@class="text-danger"})
                    <br />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Düzenle</button>
        </div>
    }
</div>
