@model OutsourcerTracking.Models.UserAuthenticationModels.ChangePasswordModel;
@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Views/Shared/_LayoutUserAuthentication.cshtml";
}
<div>
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["msg"]</div>
    }
    @using (Html.BeginForm("ChangePassword", "UserAuthentication", FormMethod.Post))
    {
        <div class="form-group vertical-padding-1">
            @Html.TextBoxFor(m => m.oldPassword,  new {@class = "form-control", placeholder="Eski Şifre", type="password"})
            @Html.ValidationMessageFor(m => m.oldPassword, null, new {@class="text-danger"})
            <br />
            @Html.TextBoxFor(m => m.NewPassword,  new {@class = "form-control", placeholder="Şifre", type="password"})
            @Html.ValidationMessageFor(m => m.NewPassword, null, new {@class="text-danger"})
            <br />
            @Html.TextBoxFor(m => m.NewPasswordAgain,  new {@class = "form-control", placeholder="Şifre", type="password"})
            @Html.ValidationMessageFor(m => m.NewPasswordAgain, null, new {@class="text-danger"})
            <br />
            <button type="submit" class="btn btn-primary">Değiştir</button>
        </div>
    }
</div>

