@model OutsourcerTracking.Models.UserAuthenticationModels.NewPasswordModel;
@{
    ViewBag.Title = "Yeni Şifre";
    Layout = "~/Views/Shared/_LayoutUserAuthentication.cshtml";
}
<div>
    @if (TempData["msg"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["msg"]</div>
    }
    @using (Html.BeginForm("NewPassword", "UserAuthentication", FormMethod.Post))
    {
        <div class="form-group vertical-padding-1">
            @Html.TextBoxFor(m => m.key,  new {@class = "form-control",placeholder="Güvenlik Kodu",type="text"} )
            @Html.ValidationMessageFor(m => m.key, null, new {@class="text-danger"})
            <br />
            @Html.TextBoxFor(m => m.newpassword,  new {@class = "form-control",placeholder="Şifre", type="password"} )
            @Html.ValidationMessageFor(m => m.newpassword, null, new {@class="text-danger"})
            <br />
            @Html.TextBoxFor(m => m.newpassword2,  new {@class = "form-control",placeholder="Şifre Tekrar", type="password"})
            @Html.ValidationMessageFor(m => m.newpassword2, null, new {@class="text-danger"})
            <br>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </div>
    }
</div>


