@using OutsourcerTracking.Labels.DataAccess.Enums;
@model OutsourcerTracking.Models.EmployeeHomeModels.EmployeeHomeListViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="horizontal-margin-1">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr />
    <div class="horizontal-margin-1">
        <table id="myTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Sipariş Grubu</th>
                    <th>Stok Kodu</th>
                    <th>Referans İş Emri</th>
                    <th>Dış Kaynak</th>
                    <th>Durum</th>
                    <th>Renk Kodu</th>
                    <th>Renk Adı</th>
                    <th>İş Emri</th>
                    <th>Teslim Tarihi</th>
                    <th title="Toplam Üretilecek Adet">Top. Üretilecek Ad.</th>
                    <th title="Toplam Üretilen Adet">Top. Üretilen Ad.</th>
                    <th title="Üretilecek Adet">Üretilecek Ad.</th>
                    <th title="Toplam Teslim Alınan Adet">Top. Tes. Alınan Ad.</th>
                    <th title="Teslim Alınacak Adet">Tes. Alınacak Ad.</th>
                    <th title="Teslim Alınabilir Adet">Tes. Alınabilir Ad.</th>
                    <th>Teslimat</th>
                    <th>Düzeltme</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EmployeeHomeViewModelList)
                {
                    decimal willProduceAmount = item.Amount - item.TotalProducedAmount;
                    decimal willReceiveAmout = item.Amount - item.TotalReceivedAmount;
                    decimal receivableAmount = item.TotalProducedAmount - item.TotalReceivedAmount;
                    <tr>
                        <td>@item.OrderGroup</td>
                        <td>@item.StockCode</td>
                        <td>@item.ReferenceWorkOrder</td>
                        <td style="color:blue; cursor: pointer;" onclick="fillOutsourceModal(@item.OutsourceId)" data-bs-toggle="modal" data-bs-target="#detailModal">@item.OutsourceName</td>
                        <td>@item.SituationName</td>
                        <td>@item.ColorCode</td>
                        <td>@item.ColorName</td>
                        <td>@item.WorkOrderNo</td>
                        <td>@item.Deadline</td>
                        <td>@item.Amount</td>
                        <td>
                            <a onclick="fillProduceModal(@item.OutsourceWorkOrderId)" href="#" data-bs-toggle="modal" data-bs-target="#detailModal">@item.TotalProducedAmount</a>
                        </td>
                        <td>@willProduceAmount</td>
                        <td>
                            <a onclick="fillReceiveModal(@item.OutsourceWorkOrderId)" href="#" data-bs-toggle="modal" data-bs-target="#detailModal">@item.TotalReceivedAmount</a>
                        </td>
                        <td>@willReceiveAmout</td>
                        <td>@receivableAmount</td>
                        @if (receivableAmount > 0)
                        {
                            <td>
                                <a href="/employeehome/addreceive?outsourceWorkOrderId=@item.OutsourceWorkOrderId">
                                    <button type="button" class="btn btn-success">Ekle</button>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>Eklenemez!</td>
                        }
                        @if (item.IsReceiveEditable)
                        {
                            <td>
                                <a href="/employeehome/editreceive?outsourceWorkOrderId=@item.OutsourceWorkOrderId">
                                    <button type="button" class="btn btn-primary">Düzelt</button>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>Düzeltilemez!</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Dış Kaynak Detay</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="detailModalBody" class="modal-body" style="text-align:center;">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
<script>
    var detailModalLabel = document.getElementById("detailModalLabel");
    var detailModalBody = document.getElementById("detailModalBody");
    var js = jQuery.noConflict(true);
    js(document).ready(function () {
        var filterColumnIndexs = [0, 1, 2, 3, 4];
        var table = js('#myTable').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            },
            initComplete: function () {
                let i = 0;
                this.api().columns().every(function () {
                    if (filterColumnIndexs.some((element) => element == i)) {
                        var column = this;
                        var select = js('<select><option value="">Hepsi</option></select>')
                            .appendTo(js(column.header()))
                            .on('change', function () {
                                var val = js.fn.dataTable.util.escapeRegex($(this).val());
                                column.search(val ? '^' + val + '$' : '', true, false).draw();
                            });
                        column.data().unique().sort().each(function (d) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    }
                    i++;
                });
                
            },
            scrollX: true,
            ordering: false,
        });
        setTimeout(function () {
            table.columns.adjust();
        }, 100);
    });
    function fillOutsourceModal(outsourceId){
        detailModalLabel.innerHTML = "Dış Kaynak Detay";
        js.ajax({
            type: "GET",
            dataType: "json",
            url: "/employeehome/GetOutsourceDetail?outsourceId=" + outsourceId,
            success: (data) => {
                console.log(data);
                detailModalBody.innerHTML = 
                `<div class="row">
                    <div class="col">
                        <label>Cari Kod</label>
                        <input class="form-control" type = "text" readonly value="${data.currentCode}" />
                        <label>Makina Kodu</label>
                        <input class="form-control" type = "text" readonly value="${data.machineCode}" />
                        <label>Eposta</label>
                        <input class="form-control" type = "text" readonly value="${data.email}" />
                    </div>
                    <div class="col">
                        <label>Depo Kodu</label>
                        <input class="form-control" type = "text" readonly value="${data.warehouseCode}" />
                        <label>Makina Adı</label>
                        <input class="form-control" type = "text" readonly value="${data.machineName}" />
                        <label>Telefon</label>
                        <input class="form-control" type = "text" readonly value="${data.phone}" />
                    </div>
                </div>
                <div class="row">
                    <div class=col>
                        <label>Adres</label>
                        <input class="form-control" type="text" readonly value="${data.address}"/>
                    </div>
                </div>`;
            }
        });
    }
    function fillProduceModal(outsourceWorkOrderId) {
        detailModalLabel.innerHTML = "Üretim Detay";
        js.ajax({
            type: "GET",
            dataType: "json",
            url: "/employeehome/GetTrackingsDetail?outsourceWorkOrderId=" + outsourceWorkOrderId,
            success: (data) => {
                console.log(data);
                if(data.length === 0){
                    detailModalBody.innerHTML = "Herhangi bir veri bulunamadı.";
                }else{
                    let html = "";
                    let titles = ["Tarih ve Saat", "Miktar", "Ağırlık (Kg)"];
                    html += createTableHeader(titles);
                    data.forEach( (item, index) => {
                        let datas = [item.date.substring(0, 10) + " " + item.date.substring(11, 19), item.amount, item.weight_Kg];
                        html += createTableBody(datas);
                    });
                    html += createTableFooter();
                    detailModalBody.innerHTML = html;
                }
            }
        });
    }
    function fillReceiveModal(outsourceWorkOrderId) {
        detailModalLabel.innerHTML = "Teslimat Detay";
        js.ajax({
            type: "GET",
            dataType: "json",
            url: "/employeehome/GetReceivesDetail?outsourceWorkOrderId=" + outsourceWorkOrderId,
            success: (data) => {
                console.log(data);
                if (data.length === 0) {
                    detailModalBody.innerHTML = "Herhangi bir veri bulunamadı.";
                } else {
                    let html = "";
                    let titles = ["Tarihi ve Saati", "Miktar", "Onay Tarihi ve Saati"];
                    html += createTableHeader(titles);
                    data.forEach((item, index) => {
                        let datas = [item.date.substring(0, 10) + " " + item.date.substring(11, 19), item.amount, item.approvedDate ? item.approvedDate.substring(0, 10) + " " + item.approvedDate.substring(11, 19) : "-"];
                        html += createTableBody(datas);
                    });
                    html += createTableFooter();
                    detailModalBody.innerHTML = html;
                }
            }
        });
    }
    function createTableHeader(titles) {
        let headers = `<table style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%;"><tr>`;
        titles.forEach((item, index) => {
            headers += `<th>${item}</th>`;
        });
        headers += "</tr>";
        return headers;
    }
    function createTableBody(datas) {
        let body = "<tr>"
        datas.forEach((item, index) => {
            body += `<td>${item}</td>`;
        });
        body += "</tr>";
        return body;
    }
    function createTableFooter(footers) {
        return "</table>";
    }
</script>




